<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>Quiz App</title>
  </head>
  <body>
    <div class="container">
      <div *ngIf="!question" class="result quiz-container justify-content-center">
        <div>Result : {{ pecentCorrect }} %</div>
        <br />
        <div>
          <ul>
            <li *ngFor="let result of results; let i = index">
              <div *ngIf="i !== 0">
                <div>
                  Question {{ i }}: {{ result.isCorrect ? "Correct" : "Wrong" }}
                </div>
                <div>Your answer: {{ result.answer }}</div>
                <div *ngIf="!result.isCorrect">
                  Correct answer: {{ result.correctAnswer }}
                </div>
                <br />
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="question" class="d-flex justify-content-center">
        <nav class="pagination">
          <a
            [ngClass]="{ disabled: order == 1 }"
            [routerLink]="['/question']"
            [queryParams]="this.previous"
            >Previous</a
          >
          <a
            [ngClass]="{ active: order == 1 }"
            [routerLink]="['/question']"
            [queryParams]="{ order: 1 }"
            >1</a
          >
          <a
            [ngClass]="{ active: order == 2 }"
            [routerLink]="['/question']"
            [queryParams]="{ order: 2 }"
            >2</a
          >
          <a
            [ngClass]="{ active: order == 3 }"
            [routerLink]="['/question']"
            [queryParams]="{ order: 3 }"
            >3</a
          >
          <a
            [ngClass]="{ active: order == 4 }"
            [routerLink]="['/question']"
            [queryParams]="{ order: 4 }"
            >4</a
          >
          <a
            [ngClass]="{ disabled: order == 4 }"
            [routerLink]="['/question']"
            [queryParams]="this.next"
          >
            Next
          </a>
        </nav>
      </div>
      <form *ngIf="question" [formGroup]="questionForm" (ngSubmit)="onSubmit()">
        <div class="quiz-container" id="quiz">
          <div class="quiz-header">
            <h2 id="question">Question</h2>

            <div class="question-body">
              <div class="question-content">
                Question {{ order }}: {{ question.question }}
              </div>

              <ul>
                <li>
                  <input
                    formControlName="answer1"
                    type="checkbox"
                    id="answer1"
                    class="answer"
                    [value]="question.answer1"
                  />
                  <label for="answer1" id="1_text">
                    {{ question.answer1 }}</label
                  >
                </li>

                <li>
                  <input
                    type="checkbox"
                    id="answer2"
                    formControlName="answer2"
                    class="answer"
                    [value]="question.answer2"
                  />
                  <label for="answer2" id="2_text">
                    {{ question.answer2 }}</label
                  >
                </li>

                <li>
                  <input
                    type="checkbox"
                    id="answer3"
                    formControlName="answer3"
                    class="answer"
                    [value]="question.answer3"
                  />
                  <label for="answer3" id="3_text">
                    {{ question.answer3 }}</label
                  >
                </li>

                <li>
                  <input
                    type="checkbox"
                    id="answer4"
                    formControlName="answer4"
                    class="answer"
                    [value]="question.answer4"
                  />
                  <label for="answer4" id="4_text">
                    {{ question.answer4 }}</label
                  >
                </li>
              </ul>
            </div>
          </div>
          <button id="submit">Submit</button>
        </div>
      </form>
    </div>

    <!-- <div class="next-button-container">
  <button onclick="handleNextQuestion()">Next Question</button>
</div>
 <div class="start_btn"><button>Start Quiz</button></div>
<div class="info_box">
<div class="butttons">
  <button class="quit"><button></button>Exit Quiz</button></div>
  </div> -->
  </body>
</html>
