<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="register-page">
      <div class="form">
        <form
          [formGroup]="signUpForm"
          class="login-form"
          (ngSubmit)="onSubmit()"
        >
          <input
            type="text"
            placeholder="username"
            formControlName="userName"
          />
          <div
            class="text-danger mb-3"
            *ngIf="
              signUpForm['controls'].userName.invalid &&
              signUpForm['controls'].userName.touched
            "
          >
            <div *ngIf="signUpForm['controls'].userName.errors?.required">
              User name is required.
            </div>
            <div *ngIf="signUpForm['controls'].userName.errors?.minlength">
              User name must be at least 6 characters long.
            </div>
          </div>
          <input
            type="password"
            placeholder="password"
            formControlName="password"
          />
          <div
            class="text-danger mb-3"
            *ngIf="
              signUpForm['controls'].password.invalid &&
              signUpForm['controls'].password.touched
            "
          >
            <div *ngIf="signUpForm['controls'].password.errors?.required">
              User name is required.
            </div>
            <div *ngIf="signUpForm['controls'].password.errors?.minlength">
              User name must be at least 8 characters long.
            </div>
          </div>
          <input
            type="password"
            placeholder="re-type password"
            formControlName="rePassword"
          />
          <div
            class="text-danger mb-3"
            *ngIf="
              this.signUpForm.value.rePassword !==
                this.signUpForm.value.password &&
              signUpForm['controls'].rePassword.touched
            "
          >
            <div>Re-entered password does not match.</div>
          </div>
          <button [disabled]="this.signUpForm.invalid" type="submit">
            Sign up
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
